---
---

@import "_header";
@import "_footer";

:root {
    --m-color-desk: hsl(204, 15%, 94%);
    --m-color-card:hsl(0, 0%, 100%);
    --m-color-text: hsl(0, 0%, 13%);
    --m-color-link: hsl(208, 100%, 40%);
    --m-color-link-active: hsl(208, 65%, 80%);
    --m-color-link-visited: hsl(208, 100%, 30%);
    --m-color-link-visited-active:hsl(208, 63%, 45%);
    --m-color-link-hover: hsl(208, 63%, 45%);
    --m-color-border: hsl(0, 0%, 67%);
}
  
@media (prefers-color-scheme: dark) {
    :root {
        --m-color-desk: hsl(0, 0%, 7%);
        --m-color-card: hsl(0, 0%, 12%);
        --m-color-text: hsl(0, 0%, 85%);
        --m-color-link: hsl(208, 63%, 75%);
        --m-color-link-visited: hsl(208, 100%, 66%);
        --m-color-link-visited-active:hsl(208, 53%, 56%);
        --m-color-link-hover: hsl(208, 57%, 68%);
        --m-color-border: hsl(0, 0%, 30%);
    }
}

html,
body,
ul,
li {
    padding: 0;
    margin: 0;
}

html {
    font-size: 62.5%;
}

body {
    background: var(--m-color-card);
    font-family: 'Open Sans', Arial, sans-serif;
    font-size: 1.6em;
    line-height: 1.5;
    color: var(--m-color-text);
}

.responsive-content {
    padding: 1em;
    display: grid;
    grid-template-columns: 20% 30% 30% 20%;
    grid-row-gap: 0.5em;
    grid-template-areas:
        "a b c d";

    @media all and (max-width: 900px) {
        grid-template-areas:
            "a a a a"
            "b b c c"
            "d d d d";
    }

    @media all and (max-width: 400px) {
        grid-template-areas:
            "a a a a"
            "b b b b"
            "c c c c"
            "d d d d";
    }
}

.main-item {
    grid-column-start: center;
    grid-area: auto / b / auto / c;
    align-self: start;
    justify-self: stretch;
}

.content {
    max-width: 940px;
    padding: 0 20px;
    margin: 0 auto;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
}

h2 {
    font-weight: 300;
    margin-top: 0;
}

a:link {
    color: var(--m-color-link);
    text-decoration: none;
}

a:visited {
    color: var(--m-color-link-visited);
}

a:hover {
    color: var(--m-color-link-hover);
}

a:active {
    color: var(--m-color-link-active);
}


.title {
    font-size: 2em;
    font-weight: 100;
    margin: 24px 0;
}

.color-header-content {
    max-width: 900px;
    margin: 161px auto 0;
    background: #35769e;
    padding: 32px;
    color: var(--m-color-card);
    z-index: 20;

    h2 {
        font-weight: 100;
        font-size: 32px;
        margin: 0 0 1em;
    }
}

.video-wrapper {
    width: 100%;
    max-width: 560px;
    margin: auto;

    & > div {
        position: relative;
        padding-top: 56.25%;

        iframe {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }
    }

    &.wide {
        max-width: 100%;
    }
}

.anchor {
    a {
        opacity: 0;

        &:hover {
            opacity: 1;
        }
    }
}
