<nav class="bg-white dark:bg-gray-900 w-full z-20 top-0 start-0 border-b border-gray-200 dark:border-gray-600 sticky">
    <div class="max-w-2xl flex items-center justify-between mx-auto p-4 md:py-4 md:px-0">
        <a href="{{ '/' }}" class="flex items-center space-x-3 rtl:space-x-reverse">
            <img src="{{ '/assets/img/allegro-tech-blog.svg' }}" class="h-8" alt="Allegro Tech Blog" height="24px" width="206px" />
        </a>
        <div class="items-center flex w-auto order-1">
            <a href="{{ '/about'  }}" class="block py-2 px-3 bg-transparent text-primary-500 p-0 dark:text-primary-500">About</a>
        </div>
    </div>
</nav>
