{% assign author = page.author %}
<div class="flex items-center mb-6 not-italic">
    <div class="inline-flex items-center text-sm text-gray-900 dark:text-white gap-4">
        <img
            class="w-16 h-16 rounded-full"
            src="{{ '/assets/img/authors/' | append: author | append: '.jpg' }}"
            alt="{{ site.data.members[author].name }}"
        />
        <div>
            <a href="{{ '/authors/' | append: author }}" rel="author" class="text-xl font-bold text-gray-900 dark:text-white">
                {{ site.data.members[author].name }}
            </a>
            <p class="text-base text-gray-500 dark:text-gray-400">
                <time datetime="{{ page.date }}" title="{{ page.date | date: '<strong>%b %-d</strong> %Y' }}">
                    {{ page.date | date: "<strong>%b %-d</strong> %Y" }}
                </time>
            </p>
        </div>
    </div>
</div>
