---
layout: default
---

<link rel="stylesheet" href="{{ '/assets/css/highlights.css?v=' | append: site.github.build_revision }}"/>
<article class="mx-auto w-full max-w-2xl format format-sm sm:format-base lg:format-lg format-brand dark:format-invert">
    <header class="mb-4 lg:mb-6 not-format">
        {% if page.author.first %}
            {% include post/multiple-authors.html %}
        {% else %}
            {% include post/single-author.html %}
        {% endif %}
    </header>
    <h1 class="mb-4 text-3xl font-extrabold leading-tight text-gray-900 lg:mb-6 lg:text-4xl dark:text-white">
        {{page.title}}
    </h1>
    {% include anchor_headings.html html=content anchorBody="#" anchorClass="no-underline hover:underline text-gray-500 dark:text-gray-400" %}
    <section class="my-8">
        <div class="flex flex-wrap gap-2 sm:gap-4">
            {% for tag in page.tags %}
            <a href="{{ '/tag/' | append: tag | replace: " ","-" }}"
                    class="no-underline hover:underline text-primary-600 dark:text-primary-500 text-sm sm:text-md font-medium inline-flex items-center py-0.5 px-1 whitespace-nowrap"
            >
                <svg class="mr-1 w-3 h-3  text-primary-600 dark:text-primary-500" aria-hidden="true"
                     xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor"
                     viewBox="0 0 24 24">
                  <path d="M18.045 3.007 12.31 3a1.965 1.965 0 0 0-1.4.585l-7.33 7.394a2 2 0 0 0 0 2.805l6.573 6.631a1.957 1.957 0 0 0 1.4.585 1.965 1.965 0 0 0 1.4-.585l7.409-7.477A2 2 0 0 0 21 11.479v-5.5a2.972 2.972 0 0 0-2.955-2.972Zm-2.452 6.438a1 1 0 1 1 0-2 1 1 0 0 1 0 2Z"/>
                </svg>
                  {{ tag }}
            </a>
            {% endfor %}
        </div>
    </section>
    <section class="not-format">
        <div class="flex justify-between items-center mb-6">
            <h2 class="text-lg lg:text-2xl font-bold text-gray-900 dark:text-white">Discussion</h2>
        </div>
        <div id="disqus_thread"></div>
        <script>
            (function() { // DON'T EDIT BELOW THIS LINE
                let d = document, s = d.createElement('script');
                s.src = 'https://allegrotechio.disqus.com/embed.js';
                s.setAttribute('data-timestamp', +new Date());
                (d.head || d.body).appendChild(s);
            })();
        </script>
        <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
    </section>
</article>
